

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Infinity CRM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        
      </ul>
  {% if user.is_authenticated %}
        <form class="d-flex" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="btn btn-secondary" type="submit">Logout</button>
        </form>
      
      {% else %}
        <!-- <form class="d-flex" action="{% url 'home' %}" method="post">
          {% csrf_token %}
          <button class="btn btn-secondary" type="submit">Login</button>
        </form> -->
        <form class="d-flex" action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <button class="btn btn-secondary" type="submit">Sign in</button>
        </form>
      {% endif %}
     
    </div>
  </div>
</nav>

{% endblock %}
